.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(78deg, #c0d313, #f8030f 48%, #03f8e4);
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

@media screen and (min-width: 600px){
  .auth-form-container{
    padding: 3rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label{
  text-align: left;
  padding: 0.25rem 0;
}

input{
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button{
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.link-btn{
  background: none;
  color: white;
  text-decoration: underline;
}


/*SideBarNav*/
.dashboard{
  display: flex;
  gap: 20px;
}

.dashboard--content{
  background: #fff;
  flex: 1;
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
}

/*PIECHART*/
/* .App{
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
} */


/* AnnouncementPage */
/* .App {
  text-align: center;
}

.App-header {
  background-color: #3d4246;
  padding: 20px;
  color: white;
}

textarea {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  width: 80%;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
}

.announcements {
  margin-top: 20px;
  text-align: left;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.announcements h2 {
  border-bottom: 1px solid white;
}

.announcement-item {
  background-color: #7491a7;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.announcement-item p {
  margin: 0;
}

.announcement-item button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.announcement-item button:hover {
  background-color: #ff0000;
} */

